/*******************************************************************************
TITRE
*******************************************************************************/

.titre-realisation h1 {
  text-align: center;
  text-transform: uppercase;
  color: #cb8606;
}

.titre-realisation h1::before {
  content: "- ";
  color: #00748d;
}

.titre-realisation h1::after {
  content: " -";
  color: #00748d;
}

/*******************************************************************************
GRID
*******************************************************************************/

.grid {
  display: grid;
  grid-template-rows: repeat(4, auto);
  grid-template-columns: repeat(4, auto);
  gap: 1em;
}

.grid div {
  overflow: hidden;
  border: 4px solid #00748d;
}

.grid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid div:nth-child(1) {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.grid div:nth-child(2) {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
}

.grid div:nth-child(3) {
  grid-column: 4 / 5;
  grid-row: 1 / 2;
}

.grid div:nth-child(4) {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
}

.grid div:nth-child(5) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
}

.grid div:nth-child(6) {
  grid-column: 4 / 5;
  grid-row: 2 / 3;
}

.grid div:nth-child(7) {
  grid-column: 4 / 5;
  grid-row: 3 / 5;
}

.grid div:nth-child(8) {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
}

.grid div:nth-child(9) {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.grid div:nth-child(10) {
  grid-column: 1 / 2;
  grid-row: 2 / 4;
}

.grid div:nth-child(11) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.grid div:nth-child(12) {
  grid-column: 3 / 4;
  grid-row: 4 / 5;
}

.grid div:nth-child(13) {
  grid-column: 3 / 4;
  grid-row: 5 / 6;
}

.grid div:nth-child(14) {
  grid-column: 2 / 3;
  grid-row: 4 / 6;
}

.grid div:nth-child(15) {
  grid-column: 4 / 5;
  grid-row: 5 / 6;
}

.grid div:nth-child(16) {
  grid-column: 1 / 2;
  grid-row: 5 / 6;
}

.page-container {
  display: flex;
  margin: 2em;
}

/*******************************************************************************
TEMOIGNAGES
*******************************************************************************/

.container-temoignages {
  max-height: 600px;
  width: 100%;
  margin-bottom: 6em;
  overflow: auto;
  margin-left: 4em;
}

.auteur {
  font-style: italic;
  font-weight: bold;
  color: #00748d;
}

.article-temoignages {
  display: grid;
  grid-template-columns: 40px 1fr;
  gap: 0.1em;
  margin-bottom: 2em;
}

hr {
  text-align: center;
  width: 150px;
  margin-top: 2em;
  margin-left: 4em;
  color: #cb8606;
  border: 1px solid;
}

/*******************************************************************************
DERNIER TWEETS
*******************************************************************************/

.last-tweets {
  margin-left: 4em;
  width: 100%;
}

.last-tweets ul {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  list-style: none;
  padding: 0;
}

.last-tweets ul li {
  overflow: hidden;
  text-overflow: ellipsis;
}
